.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    &-main {
        .open-close-menu-button {
            // display: none;
            content: '';
            @media (max-width: 375px) {
                display: block;
                color: red;
                z-index: 10;
            }
        }
        outline: dashed lightgreen 2px;
        position: relative;
        display: flex;
        
        justify-content: space-between;
        align-items: center;
        &__logo {
        }
        &__second-block {
            & * {
                padding: 10px;
            }
            display: flex;
            flex-wrap: wrap;
            margin-left: 20px;
        }
    }
    &-navigation {
        @media (max-width: 375px) {
            position: absolute;
            top: 0;
            height: 100vh;
        }
        background: #25529F;
        min-height: 50px;
        &__list {
            list-style: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media (max-width: 375px) {
                display: flex;
                flex-direction: column;
                margin-top: 200px;
            }
        }
        &__item {
            color: #F9F9F9;
            padding: 10px 10px;
        }
    }
}