body.active {
    overflow: hidden;
}
.header {
    @media (max-width: 375px) {
        position: fixed;
    }
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 10;

    &-main {
        @media (max-width: 375px) {
            background: #ECF3FF;
            flex-wrap: wrap;
        }

        &__language {
            font-weight: 700;
            display: flex;
            font-size: 24px;
            line-height: 140%;
            letter-spacing: -0.01em;
            margin-right: 10px;

            &-item {
                &:hover {
                    color: rgb(5, 230, 5);
                    transition: all 0.3s ease 0s;
                }

                cursor: pointer;
                color: #ECF3FF;

                @media (max-width: 375px) {
                    color: rgb(207, 208, 209);
                }

                padding: 5px;
                transition: all 0.3s ease 0s;

                &.active {
                    color: #25529F;

                    &:hover {
                        color: rgb(5, 230, 5);
                        transition: all 0.3s ease 0s;
                    }
                }
            }

        }


        &__input-search {
            height: 26px;
            width: 100%;
            opacity: 0.0001;
            border-radius: 31px;
            border: 1px solid rgba(37, 82, 159, 1);
            transition: all 1s ease 0s;

            &.active {
                height: 26px;
                opacity: 1;
                border-radius: 31px;
                border: 1px solid rgba(37, 82, 159, 1);
                transition: all 1s ease 0s;
            }

            &:focus {
                outline: none;
                border: 1px solid rgba(37, 82, 159, 1);
            }
        }

        &__icon {
            cursor: pointer;
            width: 26px;
            height: 26px;
            margin: 5px;
            background-repeat: no-repeat;

            &_search {
                background-image: url('./../img/Search.png');
                transition: all 1s ease 0s;
                position: absolute;
                right: -4px;

                &.active {
                    width: 12px;
                    height: 12px;
                    right: 2px;
                    // opacity: 0.2;
                    background-image: url('./../img/Search-loop.png');
                    transition: all 1s ease 0s;
                }
            }

            &_authorization {
                background-image: url('./../img/LK.png');
                // z-index: 2;
            }
        }



        .open-close-menu-button {
            display: none;
            width: 25px;
            align-items: center;
            justify-content: center;
            height: 25px;

            @media (max-width: 375px) {
                display: flex;
                z-index: 11;
            }

            &__item {
                span {
                    display: block;
                    width: 20px;
                    height: 4px;
                    background-color: #25529F;
                    border-radius: 20%;
                    transition: all 0.3s ease 0s;
                }

                &.active {
                    span {
                        transform: scale(0);
                        background-color: #f9f9f9;
                        transition: all 0.3s ease 0s;
                    }

                    &::before {
                        transform: rotate(-45deg);
                        top: 0;
                        background-color: #f9f9f9;
                        transition: all 0.3s ease 0s;
                    }

                    &::after {
                        transform: rotate(45deg);
                        bottom: 0;
                        background-color: #f9f9f9;
                        transition: all 0.3s ease 0s;
                    }
                }

                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 4px;
                    background-color: #25529F;
                    border-radius: 20%;
                    bottom: -8px;
                    transition: all 0.3s ease 0s;
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 4px;
                    background-color: #25529F;
                    border-radius: 20%;
                    top: -8px;
                    transition: all 0.3s ease 0s;
                }
            }
        }

        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__logo {
            img {
                @media (max-width: 475px) {
                    max-width: 35vw;
                }
            }
        }

        &__second-block {
            @media (max-width: 375px) {
                flex-wrap: nowrap;
                margin-left: auto;
            }

            @media (max-width: 344px) {
                order: 3;
            }

            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-left: 40px;

            .popravka-input {
                width: 30px;
                transition: all 1s ease 0s;
                position: relative;
                display: flex;
                align-items: center;

                &.active {
                    width: 100px;
                    transition: all 1s ease 0s;
                }
            }
        }
    }

    &-navigation {
        @media (max-width: 375px) {
            position: absolute;
            top: -100vh;
            height: 100vh;
            transition: all 0.5s ease 0s;

            &.active {
                position: absolute;
                padding-top: 200px;
                top: 0;
                height: 100vh;
                transition: all 0.5s ease 0s;
            }

        }

        background: #25529F;
        min-height: 50px;

        &__list {
            li {
                position: relative;
            }

            // position: relative;
            list-style: none;
            padding: 10px 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &_submenu {
                li {
                    background: #25529F;
                    padding: 10px 10px;
                }

                min-width: max-content;
                flex-direction: column;
                position: absolute;
                padding-top: 30px;

                @media (max-width: 375px) {
                    padding-top: 10px;
                }

                max-height: 300px;
                transform: scaleY(0);
                transition: all 0.3s ease 0s;
                // display: none;
                z-index: 12;

                &:hover {
                    // display: flex;
                    top: 20px;
                    transform: scaleY(1);
                    transition: all 0.3s ease 0s;
                }
            }

            @media (max-width: 375px) {
                display: flex;
                flex-direction: column;
                // margin-top: 200px;
            }
        }

        &__item {
            box-sizing: border-box;
            color: #F9F9F9;
            position: relative;
            display: inline-block;
            padding: 5px 4px;
            text-decoration: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 28px;

            &::after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 50%;
                width: 0%;
                height: 2px;
                background-color: #ffffff;
                transition: all 0.2s ease 0s;
            }

            &:hover {
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: #ffffff;
                    transition: all 0.2s ease 0s;
                }
            }

        }
    }
}

.header-navigation__item:hover+.header-navigation__list_submenu,
.header-navigation__item:active+.header-navigation__list_submenu {
    // display: flex;
    top: 20px;
    transform: scaleY(1);
    transition: all 0.3s ease 0s;
}