.association {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.association-block__img {
    img {
        width: 100%;
    }

    height: 100%;
}

.association-block__text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.association-block__text h1 {
    @media (max-width: 775px) {
        font-size: 6vw;
        display: inline-block;
        width: 90vw;
    }

    width: 668px;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: #25529f;
    letter-spacing: -0.01em;
}

.association-block__text p {
    @media (max-width: 775px) {
        font-size: 5vw;
        display: inline-block;
        width: 90vw;
    }

    width: 500px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #25529f;
}

.association-block__button-zone {
    @media (max-width: 477px) {
        flex-direction: column;
        align-items: center;
    }

    width: 450px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.association-block__button-zone button {
    @media (max-width: 477px) {
        margin-bottom: 10px;
    }

    border-radius: 4px;
    width: 216px;
    height: 42px;
}

.association-block__button-zone_red-button {
    background: #D30A44;
    color: white;
    border: none;
}

.association-block__button-zone_transparent-button {
    background-color: transparent;
    border: solid 1px #25529f;
    color: #25529f;
}


.association-slider {
    background: #ECF3FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.association-slider h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: #25529F;
}

.association-slider__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px !important;
}

.green-button {
    padding: 5px 15px;
    background: #01BD3A;
    border-radius: 18px;
    border: none;

    a {
        color: white;
        text-decoration: none;
    }

}

.index-block {
    &__all-news {
        margin-left: 30px;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        display: inline;
        letter-spacing: -0.01em;
        text-decoration-line: underline;
        color: #25529F;
        opacity: 0.25;

        @media (max-width: 785px) {
            order: 2;
            margin-left: 0;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            color: #D30A44;
            opacity: 1;
        }
    }

    &__caption {
        display: inline;
        font-weight: 500;
        font-size: 36px;
        line-height: 140%;
        letter-spacing: -0.01em;
        color: #25529F;
    }
}

.last-news {
    @media (max-width: 785px) {
        display: flex;
        flex-direction: column;
    }


    img {
        width: 100%;
        margin-bottom: 10px;
    }

    &__date {
        font-weight: 400;
        font-size: 12px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: #454655;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #454655;
    }

    &__list {
        list-style: none;

        @media (max-width: 785px) {
            display: none;
        }
    }

    &__name {
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        display: flex;
        align-items: center;
        letter-spacing: -0.01em;
        color: #25529F;

        &_mini {
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            flex: none;
            order: 1;
            flex-grow: 0;

            &>a {
                text-decoration: none;
                color: #25529F;
            }
        }
    }
}

.wrapper-for-mail-block-and-actual-project {
    display: flex;
    align-items: center;

    @media (max-width: 785px) {
        flex-direction: column;
    }
}

.actual-projects {
    margin-bottom: 20px;
}

.actual-projects__block {
    display: flex;
    margin-right: 20px;

    @media (max-width: 550px) {
        flex-direction: column;
        align-items: center;
    }


    img {
        width: max-content;
        margin-right: 20px;

        @media (max-width: 550px) {
            width: 90vw;
            margin-right: 0px;
        }
    }
}

.mail-block {
    @media (max-width: 785px) {
        max-width: 304px;
        height: 312px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 384px;
    height: 312px;
    background-image: url('./../img/Rectangle-247.png');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center 10px;
    background-color: #fff2e5;
    border: 1px solid #ec6608;
    box-shadow: 0px 20px 20px -10px rgba(255, 92, 0, 0.1);
    border-radius: 16px;
}

.mail-block p {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #92072e;
    padding: 0 10px;
}

.mail-block a {
    font-weight: 500;
    font-size: 36px;
    line-height: 140%;
    text-align: center;
    text-decoration-line: underline;
    color: #92072e;
}

.more-information__caption {
    font-weight: 500;
    font-size: 36px;
    line-height: 140%;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #25529f;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.397);
}

.more-information__block-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 400px) {
    .more-information__block-wrapper {
        flex-direction: column;
    }
}

.more-information__cart {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    @media (max-width: 400px) {
        max-width: 90vw;
    }

    position: relative;
    padding: 10px 5px;
    margin: 5px 10px 15px 10px;
    justify-content: flex-start;
    align-items: center;
    width: 230px;
    height: 398px;
    background: #f9f9f9;
    border: 1px solid #ecf3ff;
    box-shadow: 0px 30px 20px -20px rgba(192, 204, 224, 0.5);
    border-radius: 16px;
    box-sizing: border-box;
    text-decoration: none;
}

@media (max-width: 520px) {
    .more-information__cart {
        flex-direction: row;
        width: max-content;
        height: max-content;
        width: 100%;
    }
}

.more-information__cart:hover.more-information__cart::before {
    transition: all 0.3s ease 0s;
    height: 15px;
}

.more-information__cart::before {
    content: '';
    position: absolute;
    background: #d30a44;
    border-radius: 4px 4px 0px 0px;
    width: 119px;
    @media (max-width: 520px) {
        width: 97%;
    }
    height: 0px;
    bottom: 0px;
    transition: all 0.3s ease 0s;
}

@media (max-width: 400px) {
    .more-information__cart::before {
        display: none;
    }
}

.more-information__cart div {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 520px) {
        align-items: flex-start;
        margin-left: 20px;
    }
}

.more-information__cart div>h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: #25529f;
    @media (max-width: 520px) {
        text-align: start;
    }
}

.more-information__cart div>p {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #454655;
    @media (max-width: 520px) {
        text-align: start;
    }
}

.more-information__cart__img {
    width: 163px;
    height: 163px;
    border-radius: 50%;
    background-color: red;
}

@media (max-width: 400px) {
    .more-information__cart__img {
        max-width: 109px;
        max-height: 109px;
    }
}