//необходимая часть, не удалять!!!!!!!!!
@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
        url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

//добавляем шрифты
@import "fonts";


//глобальные настройки

html,
body {
    position: relative;
    overflow-x: hidden;
    height: 100%;
    font-family: "Rubik", Helvetica, sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}

main {
    padding: 0px 0;
}

.wrapper {
    max-width: 990px;
    margin: 0 auto;
    padding: 0 10px;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.flex {
    display: flex;
}

//переменные
$mobile-media-size: 425px;
$mob-tabl-media-size: 760px;

//mixin для центровки

@mixin midle-centred ($size-width) {
    max-width: $size-width;
    margin: 0 auto;
    padding: 0px 10px 0 10px;
}

//основная стилизация (импорты)

@import "header";
@import "popup";
@import "index-main";
@import "footer";
@import "personal-page";
@import "personal-page2";
@import "whoweare";
@import "our-work";
@import "whatwedo";
@import "news-page";
@import "participants";

////////////////////////popup////////////////////////

.message-info {
    background-color: rgb(255, 107, 0, 0.15);
    color: rgba(212, 92, 5, 1);
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 140%;

    .button-close-message-info {
        padding: 20px;
        margin-left: 10px;
        width: 15px;
        height: 15px;
        justify-content: center;
        align-items: center;
        display: flex;
        cursor: pointer;
    }

    p {
        padding: 10px 10px;
        margin: 0;

        a {
            color: rgba(212, 92, 5, 1);

        }
    }
}

//////////////////////////////////////////////////
/// 
.breadcrumbs {
    @media (max-width: $mobile-media-size) {
        display: none; 
    }
    display: flex;
    align-items: center;

    a {
        position: relative;
        &:first-child {
            font-weight: bold;
        }
        &:not(:first-child) {
            &::before {
                position: absolute;
                content: '';
                width: 5px;
                height: 5px;
                border-top: 1px solid #4285F7;
                border-right: 1px solid #4285F7;
                top: 14px;
                left: -5px;
                transform: rotate(45deg);
            }
        }
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        color: #4285F7;
        text-decoration: none;
        padding: 5px 10px;
        &:last-child {
            color: #9899AF;
            pointer-events: none;
            &::before {
                position: absolute;
                content: '';
                width: 5px;
                height: 5px;
                border-top: 1px solid #9899AF;
                border-right: 1px solid #9899AF;
                top: 14px;
                left: -5px;
                transform: rotate(45deg);
            }
        }
    }
}

/// 